%nav.navbar.navbar-expand-lg.navbar-light.bg-info
  %a.navbar-brand{:href => "#"} 稲川のツイッター
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} 新規登録
      %li.nav-item
        %a.nav-link{:href => "#"} ログイン
      %li.nav-item
        %a.nav-link{:href => "#"} マイページ
      %li.nav-item
        %a.nav-link{:href => "#"} ログアウト
