%ul.nav.flex-column
  %li.nav-item
    %a.nav-link{:href => "#"} 新規登録
  %li.nav-item
    %a.nav-link{:href => "#"} ログイン
  %li.nav-item
    %a.nav-link{:href => "#"} マイページ
  %li.nav-item
    %a.nav-link{:href => "#"} ログアウト